include README.rst
include CHANGES
include COPYING
exclude tox.ini

recursive-include djangosaml2 *

global-exclude __pycache__
global-exclude .tox
global-exclude *.py[co]

recursive-exclude djangosaml2/tests *
recursive-exclude tests *

